.load-button {
    text-align: center;
}

.load-button button {
    padding: 10px 25px;
    margin-bottom: 20px;
    background-color: grey;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}